# 파이썬에서 엑셀 파일 다루기

## pandas
: 데이터 처리와 분석, 엑셀 파일을 읽고 쓸 수 있는 역할

설치 명령어
: !pip install pandas

## openpyxl
: 파이썬에서 Excel 파일을 읽고, 쓰고, 수정할 수 있게 하는 라이브러리
: Excel 관련 다양한 자동화 작업

설치 명령어
: !pip install openpyxl

In [1]:
!pip install pandas
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [5]:
import pandas as pd
import openpyxl

print(pd.__version__)
print(openpyxl.__version__)

2.0.3
3.0.10

In [6]:
# as: pandas 라이브러리의 별칭을 지어주는 키워드
import pandas as pd
# Pandas를 활용한 엑셀 데이터 조작

# 1. 딕셔너리{}를 사용하여 '데이터 프레임 df' 생성
# 키: 가로축(columns)
# 값: 세로축(indexs)
data = {
    'Name': ['lsa', 'ldk','ljg'],
    'Age': [28, 30, 30],
    'City': ['Busan', 'Seoul', 'Daejeon']
}

# pandas 모듈에 있는 DataFrame()함수를 사용하여 데이터프레임 생성
df = pd.DataFrame(data)

# 데이터 프레임을 엑셀 파일로 저장
# : 생성된 데이터 프레임에(df) to_excel('함수명')를 사용하여 저장
df.to_excel('sample.xlsx')

In [10]:
# 데이터 선택 및 필터링

# 단일 열 선택
df['Name']

# 여러 열 선택
# 대괄호 중첩 시: 이중 배열(matrix 구조)
df[['Name', 'City']]

# 행 필터링
# : 조건에 따른 행의 데이터를 가져오기
df[df['Age'] >= 30]

  Name  Age     City
1  ldk   30    Seoul
2  ljg   30  Daejeon

In [22]:
# 데이터 조작

# 새로운 열 추가
df['Job'] = ['Developer', 'Employee', 'Doctor']

# 엑셀 파일 닫아야 오류 X
df.to_excel('sample.xlsx')

In [23]:
# 열 삭제
# axis=0(행)
# axis=1(열)
#inplace
# True: 변경 사항이 원본 데이터 프레임 df에 바로 적용
# False(기본값): 새로운 데이터 프레임 반환
df.drop('City', axis=1, inplace=True)

# 엑셀 파일 닫아야 오류 X
df.to_excel('sample.xlsx')

KeyError: "['City'] not found in axis"

In [25]:
# 행 삭제
# : 인덱스 번호를 사용하여 삭제
df.drop(index=0, inplace=True)

In [26]:
df.to_excel('sample.xlsx')

In [28]:
# 새로운 행 추가
df.loc[3] = ['lsa', 28, 'Developer']
df.to_excel('sample.xlsx')

In [38]:
# 데이터 정렬

# 'Age'를 기준으로 오름차순 정렬
df = df.sort_values(by='Age')

# 내림차순 정렬
# df = df.sort_values(by='Age', ascending=False)
df.to_excel('sample.xlsx')

In [42]:
# 기초 통계
# : describe()함수 사용
# : 데이터 프레임의 숫자형 열에 대한 기본 통계

# std: 표준 편차 - 데이터가 평균에서의 퍼짐 정도
df.describe()

df['Age'].mean() # 평균값
df['Age'].sum() # 총합

88